html,body{
    height: 100%
}
body{
    background: url(../img/bg_gray.jpg);
    font: 16px 'open_sansregular', sans-serif;
}
.with_bg_image{
    background: url(../img/bg_image.jpg) no-repeat;
    background-size: 100% 900px;
}
#wrapper{
    min-height: 100%;
    position:relative;
}
/*header*/
header{
    background: white;
    width: 100%;
}
.align_container{
    width: 980px;
    margin: auto;
}
header div#head{
    height: 72px;
    line-height: 72px;
    padding: 10px;
}
.vert_align{
    display: inline-block;
    vertical-align: middle;
}
.notifications{
    cursor: pointer;
    color: #3e7290;
    margin-left: 30px;
    padding-left: 30px;
    background: url(../img/notifications.png) no-repeat center left;
}
.favorites{
    position: relative;
    cursor: pointer;
    color: #bac4c9;
    margin-left: 20px;
    padding-left: 35px;
    background: url(../img/favorites.png) no-repeat center left;
}
.favorites_active{
    color: #3e7290;
}
.user{
    cursor: pointer;
    background: url(../img/user_icon.png) no-repeat center left;
    color: #23aadc;
    padding-left: 40px;
    font-size: 18px;
    margin-right: 20px;
    text-decoration: underline;
}
header div#head>p{
    margin-left: 35px;
    font: 16px 'open_sanslight' sans-serif;
}
header div#head p span{
    margin-left: 10px;
    color: #818181;

}
header #login_link{
    position: relative;
    vertical-align: middle;
    display: inline-block;
    float: right;
    text-align: right;
    padding: 0;
}
#login_link a{
    margin-right: 10px;
    color: #23aadc;
}
.button{
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: white;
    font-family: 'open_sanssemibold', sans-serif;
}
.button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}
#add_product_small{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    width: 140px;
    margin-left: 10px;
}
.red{
    background: #e05156;
}
.blue{
    background: #0e6998;
}
.line{
    width: 100%;
    height: 3px;
    background: #6fc4c9;
}
#add_product_small span{
    vertical-align: middle;
    font-size: 18px;
}
/*after header*/
#after_header{
    position: relative;
    width: 100%;
    height: 95px;
    background-color: rgba(57, 166, 222, 0.7);
}
#after_header>div{
    position: relative;
    padding: 14px 0;
}
#after_header div p{
    vertical-align: top;
    margin-left: 65px;
    color: white;
    font: 14px 'open_sansitalic', sans-serif;
}
.bold_italic{
    font: 14px 'open_sansbold_italic', sans-serif;
}
label{
    font: 18px 'open_sansbold', sans-serif;
    color: white;
}
#after_header div p span{
    vertical-align: top;
}
#lacate_me{
    margin-left: 500px;
}
#arrow_for_search{
    margin-left: 5px;
    margin-top: 10px;
}
input{
    border: none;
    outline:none;
    margin: 0 12px;
}
#after_header input{
    box-sizing: border-box;
    padding-left: 16px;
    line-height: 36px;
    background-color: #b0dbf2;
}
#after_header input:focus{
    background-color: white;
}
#product_search{
    width: 452px;
}
#location_search{
    margin-right: 0;
    width: 244px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: black;
    font-family: 'open_sanslight', sans-serif;
}
#location_icon{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 38px;
    margin-left: -4px;
    border-left: 1px dashed #2ea89b;
    background: #b0dbf2 url(../img/location_icon.png) no-repeat center;
}
#search_button{
    height: 38px;
    line-height: 36px;
    width: 88px;
    display: inline-block;
    float: right;
}
/*container*/
#container{
    padding-bottom: 58px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}
#container>h1{
    padding-top: 48px;
    font: 36px 'Fjord One', serif;
}
#categories{
    height: 315px;
    width: 952px;
    margin: 54px auto 0 auto;
}
.blocks{
    width: 232px;
    float: left;
    margin: 2px;
}
#book{
    height: 315px;
    background:  white url(../img/book.png) no-repeat center 30%;
}
.equals{
    height: 154px;
}
.blocks p{
    font: 22px 'Fjord One', serif;
    color: #454444;
    margin-top: 40%;
}
#book p{
    margin-top: 90%;
}
#tablets{
    background: white url(../img/pocket.png) no-repeat center 30%;
}
#mobile{
    background:  white url(../img/phone.png) no-repeat center 30%;
}
#laptops{
    background:  white url(../img/pc.png) no-repeat center 30%;
}
#camera{
    background:  white url(../img/photo.png) no-repeat center 30%;
}
#bicycle{
    background:  white url(../img/bicycle.png) no-repeat center 30%;
}
#tv{
    background:  white url(../img/tv.png) no-repeat center 30%;
}
#product_way{
    background: url(../img/way.png) no-repeat;
    height: 200px;
    margin: 50px 60px 0px 60px;
    clear: both;
}
#button{
    margin-top: 38px;
    float: right;
    height: 63px;
    line-height: 63px;
    width: 272px;
    background: url(../img/button_bg.jpg) repeat-x;
    border: 2px solid #ced9e7;
    border-radius: 4px;
}
#button>p{
    font-size: 24px;
}
#plus{
    height: 100%;
    width: 65px;
    border-right: 2px dashed #ced9e7;
    float: left;
}
#plus>span{
    font-size:54px;
    color: white;
}
.slyder{
    width: 980px;
}
.slyder li{
    display: inline-block;
    vertical-align: middle;
}
.slyder>li:first-child{
    padding-top: 0;
    width: 32px;
    height: 160px;
    background: url(../img/arrow_left.png) no-repeat;
}
.slyder>li:last-child{
    padding-top: 0;
    width: 32px;
    height: 160px;
    background: url(../img/arrow_right.png) no-repeat;
}
.slyder.goods{
    height: 280px;
    margin: 18px 0;
    border-bottom: 2px dashed #e1e1e1;
}
.goods>li{
    display: inline-block;
    width: 152px;
    margin: 0 8px;
    background: white;
    height: 244px;
    padding-top: 10px;
    vertical-align: middle;
    position: relative;
}
.goods>#iphone{
    height: 254px;
    padding-top: 0;
}
.goods>li>a{
    text-decoration: none;
}
.goods>li>a>img{
    margin-bottom: 10px;
}
.goods>li>a>p{
    font: 12px/18px 'open_sansregular', sans-serif;
    color: #3e6692;
}
.goods>li>a>p.price{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;;
    font: 20px/28px 'open_sanssemibold', sans-serif;
    color: #e36060;
}
.slyder.bottom{
    border-bottom: none;
    margin-bottom: 0;
}
#university_slyder>h2{
    font: 22px 'open_sanssemibold', sans-serif;
}
.un_slyder{
    height: 100px;
    line-height: 100px;
    margin: 28px 12px 0 12px;
    padding-bottom: 28px;
}
.un_slyder>li{
    width: 130px;
    margin: 0 8px;
    height: 90px;
}
.un_slyder>li:last-child, .un_slyder>li:first-child{
    height: 90px;
}
.un_slyder>#howard{
     background: url(../img/howard.png) no-repeat center;
    width: 160px
}
.un_slyder>#bristol{
    background: url(../img/bristol.png) no-repeat center;
    width: 180px
}
.un_slyder>#aston{
    background: url(../img/aston.png) no-repeat center;
    width: 175px
}
.un_slyder>#metropolitan{
    background: url(../img/metropolitan.png) no-repeat center;
    width: 110px
}
.un_slyder>#whistel{
    background: url(../img/whetis.png) no-repeat center;
    width: 110px
}
/*footer*/
footer{
    width: 100%;
    height: 58px;
    background: #55a6b7;
    position: absolute;
    bottom: 0;
}
footer>div{
    line-height: 54px;
}
.footer_nav li{
     vertical-align: middle;
     display: inline-block;
     margin: 0 5px;
     font: 14px 'open_sanssemibold', sans-serif;
     color: white;
}
.footer_nav>li:first-child{
    margin-left: 40px;
}
.footer_nav li>a{
    display: inline-block;
    margin: 0 5px;
    font: 14px 'open_sanssemibold', sans-serif;
    color: white;
}
li.right{
    line-height: 54px;
    float: right;
}


/* LLLLLLLLLLLLLLLLLLLLLLLLLOOOOOOOOOOOOOGGGGGGGGGGGGGIIIIIIIIIIIINNNNNNNNNNNNNNNNN POPUP*/
.tip {
    line-height: normal;
    text-align:center;
    background: #efefef;
    border: 2px solid #37968d;
    border-radius: 3px;
    position: absolute;
    font: 13px 'open_sansregular', 'sans-serif';
    z-index: 100;
}
/* arrows - :before and :after */
.tip:before {
    position: absolute;
    display: inline-block;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #efefef;
    border-left: 16px solid transparent;
    border-bottom-color: #37968d;
    content:'';
}
.tip a{
    font: 13px 'open_sansregular', 'sans-serif';
}
.tip:after {
    position: absolute;
    display: inline-block;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #efefef;
    border-left: 14px solid transparent;
    content:'';
}
.login_tip{
    margin-top: 20px;
    padding: 10px;
    width: 268px;
    height: 190px;
    top: 40px;
    right: 130px;
}
.login_tip:before{
    top: -16px;
    left: 214px;
}
.login_tip:after{
    top: -14px;
    left: 216px;
}
.favorite_tip{
    margin-top: 20px;
    padding: 10px;
    width: 222px;
    height: 132px;
    top: 50px;
    left: -20px;
    color: #3e7290;
    font-size: 16px;
    text-align: left;
}
.favorite_tip:before{
    top: -16px;
    left: 16px;
}
.favorite_tip:after{
    top: -14px;
    left: 18px;
}
.favorite_tip img{
    float: left;
    margin-right: 10px;
}
.favor_price{
    clear: both;
    text-align: left;
    margin-top: 45px;
    margin-left: 14px;
    font-size: 18px;
    color: #e36060;
}
.login_tip>input[type="text"]{
    padding-left: 10px;
    line-height: 24px;
    width: 246px;
    border: 1px solid #2e97b9;
    margin-left: 0;
    margin-right: 0;
}
.login_tip>input:first-child{
    margin-top: 12px;
    margin-bottom: 10px;
}
#remember_me{
    padding-top: 16px;
    text-align: left;
}
#remember_me label{
    font: 13px 'open_sansregular', 'sans-serif';
    color: #69746e;
    cursor: pointer;
}
#remember_me input[type="checkbox"]{
    margin: 0 6px;
}
/*----------------------checkbooooooooooxxxxxeeeeessssssss------------------------*/
input[type="checkbox"]{
    display:none;
}
input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 5px 0 0;
    background: url(../img/checkboxes.png) no-repeat;
}
input[type="checkbox"] + label:before {
    background-position: 0 0;
}
input[type="checkbox"]:checked + label:before {
    background-position:  0 -16px;
}
/*----------------------checkboxes EEEEEENNNNNDDDDD------------------------------*/
#remember_me a{
    float: right;
}
#login{
    text-align: right;
    padding-top: 28px;
}
#log_btn{
    width:110px;
    height: 36px;
    float:left;
    font-size: 16px;
    line-height: 36px;
}
#reg{
    line-height: 36px;
}
#reg a{
    font-size: 16px;
}
/*-----------------------------------select top_select------------------------------------------*/

.modal_popup {
    line-height: normal;
    text-align:left;
    margin-top: 20px;
    background: #efefef;
    border: 2px solid #37968d;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    width: 920px;
    height: 230px;
    font-size: 14px;
    z-index: 100;
    top: 76px;
    right: 40px;
}
/* arrows - :before and :after */

/*.modal_popup:before {*/
    /*position: absolute;*/
    /*top: -16px;*/
    /*left: 794px;*/
    /*display: inline-block;*/
    /*border-right: 16px solid transparent;*/
    /*border-bottom: 16px solid #efefef;*/
    /*border-left: 16px solid transparent;*/
    /*border-bottom-color: #37968d;*/
    /*content:'';*/
/*}*/
/*.modal_popup:after {*/
    /*position: absolute;*/
    /*top: -14px;*/
    /*left: 796px;*/
    /*display: inline-block;*/
    /*border-right: 14px solid transparent;*/
    /*border-bottom: 14px solid #efefef;*/
    /*border-left: 14px solid transparent;*/
    /*content:'';*/
/*}*/
div.arrow-up {
    top: -15px;
    left: 796px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #37968d;
    font-size: 0;
    line-height: 0;
}
div.arrow-up-inside{
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #efefef;
    font-size: 0;
    line-height: 0;
    margin-left: -14px;
    padding-top: 3px;
}
.modal_popup label{
    font: 16px sans-serif;
    color: black;
}
.modal_popup ul.top_select, .modal_popup ul.modal_navigation {
    padding-left: 10px;
    padding-right: 10px;
}
.modal_popup ul.top_select {
    margin: auto;
    width: 940;
    height: 20px;
    margin-bottom:3px;
    border-bottom: 1px solid #69c3ba;
    padding-bottom: 16px;
    /*position: relative;*/
}
.top_select li {
    display: inline-block;
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    color: #174a60;
}
.top_select li.active {
    background: #70a3b8;
    color: white;
}
.top_select li:last-child {
    float: right;
    margin-right: 0;
}
.modal_popup ul.modal_navigation {
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #69c3ba;
    margin-bottom: 15px;
}
.modal_navigation li {
    display: inline-block;
    font: 12px sans-serif;
    color: #468bc1;
}
.modal_navigation li:after {
    content:" / ";
}
.modal_navigation li:last-child:after {
    content:"";
}
.main_check_list, .main_list {
    height: 60%;
    float: left;
    margin-right: 30px;
    margin-left: 0;
    border-left: 1px dashed black;
    padding-left: 5px;
}
.main_list{
    padding-right: 35px;
    border-right: 1px dashed #e1e1e1;
    border-left: none;
    height: 80%;
    margin-left: 10px;
}
.main_check_list:first-child, .main_list:first-child{
    border-left: none;
    padding-left: 0;
}
.main_check_list li, .main_list li{
    cursor: pointer;
    margin-top: 18px;
    color: #484747;
    font: 14px sans-serif;
}
.main_check_list label{
    cursor: pointer;
    color: #484747;
    font: 14px sans-serif;
}
.main_check_list li:first-child {
    margin-top: 0;
}

/*----------------------------------- search results page ------------------------------------*/
.categories_dropdowns{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 6px;
    font-size: 18px;
    color: #217485;
    position: relative;
}
.categories_dropdowns>li{
    display: inline-block;
    width: 126px;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    background-color: #d7e3e6;
    margin-right: 8px;
}

.categories_dropdowns>li:first-child{
    margin-left: 8px;
}
.categories_dropdowns .small_arrow{
    display: inline-block;
    width: 30px;
    float: right;
    border-left: 1px dashed #9cc7d0;
}
.categories_dropdowns .active_ctegory{
    background-color: #3cb1c9;
    color: white;
}
.options{
    border-bottom: 2px dashed #e1e1e1;
    border-top: 2px dashed #e1e1e1;
    line-height: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: left;
    margin-top: 16px;
}
.options li{
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
}
.options li:first-child{
    color: #838485;
    margin-left: 24px;
}
.options li:first-child span{
    font-weight: bold;
}
.options .genre{
    font-size: 14px;
    color: #468bc1;
    margin-left: 170px;
}
.options .sort{
    color: #838485;
    margin-left: 174px;
}
.sort label{
    color: #838485;
    font-size: 16px;
}
.options .sel{
    margin-right: 10px;
}
.options .sel a{
    color: #70a3d8;
}
.slyder_label{
    margin: 24px 0 24px 50px;
    text-align: left;
    font: 20px 'Fjord One', serif;
    color: #1da278;
}
.slyder_label a{
    font-size: 16px;
    color: #6aa8dc;
}
.common{
    display: table;
}
.settings{
    padding: 20px 20px 0 20px;
    display: table-cell;
    width: 250px;
    vertical-align: top;
}
.all{
    display: table-cell;
    margin-top: 10px;
    border-left: 2px dashed #e1e1e1;
}
.all>li{
    margin-top: 16px;
}
.goods .see_more{
    width: 90%;
    height: 52px;
    line-height: 38px;
    background: #e8f2f4;
    margin-top: 30px;
    border-radius: 3px;
    font-size: 30px;
}
.see{
    color: #7cc0ce;
}
.item_count{
    color: #4999aa;
}
.settings>p{
    text-align: left;
    margin-bottom: 14px;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 16px;
}
.price_label{
    color: #4a8ba9;
}
#amount span:first-child, #amount span:last-child{
    color: #8b989e;
    font-size: 12px;
}
#amount span.price{
    font-size: 16px;
    color: #565e62;
    font-weight: bold;
}
#amount{
    margin-bottom: 20px;
    text-align: left;
}
#amount>span:last-child{
    margin-left: 120px;
}
.set_check{
    text-align: left;
    margin-left: -10px;
    margin-top: 10px;
}
.set_check label{
    color: #69746e;
    font-size: 16px;
}
.categories_dropdowns .modal_popup{
    left: 18px;
    top: 40px;
    display: none;
}
/*----------------------------------------- item page -----------------------------------*/
.item_page{
    font-family: sans-serif;
}
.item_navigation{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.item_arrow{
    vertical-align: middle;
}
.nav_text{
    display: inline-block;
    width: 85%;
    margin: 0 15px;
    border-left: 1px dashed #9ce2ea;
    border-right: 1px dashed #9ce2ea;
    color: #3f6fd0;
    font-size: 14px;
}
.item_label{
    height: 90px;
    line-height: 90px;
    border-top: 1px solid #a3cbd3;
    text-align: left;
}
.big_item_label{
    font-size: 26px;
    font-family: 'Fjord One', serif;
    color: #1da278;
}
.item_label p{
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.add_to_favorite{
    cursor: pointer;
    vertical-align: middle;
    margin-left: 400px;
}
.item_info{
    line-height: 20px;
    height: 20px;
    position: relative;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    text-align: left;
    padding: 3px 0;
}
.item_info p{
    font-size: 14px;
    color: #c0c0c0;
    font-style: italic;
    vertical-align: middle;
    display: inline-block;
    margin-left: 16px;
}
.item_info>p:last-child{
    margin-left: 436px;
}
div.small-arrow-up {
    top: -9px;
    left: 50px;
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #e1e1e1;
}
div.small-arrow-up-inside{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fafafa;
    margin-left: -8px;
    padding-top: 2px;
}
.general_info{
    display: table;
}
.item_desc{
    display: table-cell;
    vertical-align: top;
    text-align: left;
}
.seller_desc{
    display: table-cell;
    width: 282px;
    border-left: 1px dashed #e1e1e1;
    text-align: left;
}
.sald_id{
    color: #959595;
    font-size: 12px;
}
.item_desc>p{
    margin-left: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.item_photos{
    margin-bottom: 34px;
}
.big_photo{
    width: 566px;
    margin-left: 8px;
    float: left;
}
.text_desc{
    clear: both;
}
.small_photos {
    overflow: hidden;
    text-align: center;
}
.small_photos>li{
    margin-top: 9px;
}
.small_photos>li:first-child{
    margin-top: 0;
}
.text_desc{
    margin-left: 18px;
    margin-right: 8px;
}
.desc_labels{
    border-bottom: 1px solid #d1e7f2;
}
.tab_label{
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px;
    color: #484848;
}
.tab_selected{
    position: relative;
    top: 1px;
    border: 1px solid #d1e7f2;
    border-bottom: 1px solid #fafafa;
    color: #23aadc;
}
.tab_text{
    padding-top: 18px;
    padding-right: 10px;
    color: #828282;
    font-size: 14px;
}
.seller_desc{
    font-family: sans-serif;
    font-size: 16px;
}
.item_price{
    border-bottom: 1px dashed #e1e1e1;
}
.item_price .options{
    border-bottom: none;
    border-top: none;
    text-align: center;
    margin-top: 0;
}
.big_price{
    font-size: 36px;
    color: #e36060;
    text-align: center;
    margin-bottom: 35px;
}
.seller_info{
    border-bottom: 1px dashed #e1e1e1;
    display: table;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
    font-family: sans-serif;
}
.seller_photo, .seller_name{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.seller_photo{
    min-width: 90px;
}
.seller_name{
    text-align: left;
    margin-left: 10px;
}
.seller_name>p:first-child{
    margin-top: 0;
    color: #403e3e;
    font-size: 22px;
}
.seller_name>p{
    margin-top: 12px;
}
.small_gray{
    font-size: 12px;
    color: #888888;
}
.small_link{
    color: #3f6fd0;
    font-size: 12px;
}
.seller_contact{
    text-align: center;
}
.show_number{
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/hand_phone.png) no-repeat center left;
    width: 85%;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 35px;
    color: #0e6998;
}
.phone_number{
    height: 35px;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 26px;
    margin-bottom: 26px;
    text-align: center;
    color: #0e6998;
    font-size: 24px;
}
#seller_email{
    display: inline-block;
    height: 42px;
    line-height: 36px;
    width: 254px;
    font-size: 18px;
    text-align: left;
    margin-bottom: 26px;
}
#seller_email p{
    margin-left: 26px;
}
#seller_email span{
    font-size: 36px;
    margin-right: 44px;
}
.other{
    display: table;
    text-align: center;
    width: 100%;
    height: 60px;
}
.print, .spam{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding-left: 28px;
    color: #0e6998;
    font-size: 18px;
}
.print{
    border-right: 1px dashed #e1e1e1;
    background: url(../img/printer.png) no-repeat 28px 50%;
}
.spam{
    background: url(../img/spam.png) no-repeat 28px 50%;
}
/*-----------------------------------layout----------------------------------*/
.layout{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(5,51,47,0.6);
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
}
.layout:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.message{
    background: #f6f6f6;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
    width: 554px;
 }
.message_header{
    height: 44px;
    line-height: 44px;
    background: #95c6d0;
    text-align: left;
    font-size: 18px;
    color: #207384;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.header_text{
    margin-left: 20px;
}
.close{
    cursor: pointer;
    margin-left: 110px;
}
.message_container{
    margin: 8px 18px 18px 18px;
    text-align: left;
}
.message_to{
    margin-bottom: 4px;
    color: #696969;
    font-size: 14px;
}
.message_to img{
    vertical-align: middle;
    margin: 0 5px;
}
.message_to span{
    font-size: 16px;
    color: #403e3e;
    font-weight: bold;
}
#message{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c9c9c9;
}
.email{
    height: 36px;
    width: 372px;
    border: 1px solid #c9c9c9;
    padding-left: 12px;
    margin-left: 0;
    margin-right: 0;
}
.email::-webkit-input-placeholder {
    font-size: 14px;
    font-style: italic;
    color: #c7c7c7;
}
#send_email{
    display: inline-block;
    width: 125px;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
}
.prod_form input{
    box-sizing: border-box;
}
table{
    margin: 0 auto;
    width: 100%;
}
td{
    vertical-align: middle;
    padding-top: 20px;
    text-align: right;
}
td label{
    color: black;
    padding-right: 10px;
}
td input{
    min-width: 200px;
    margin: 0;
}
.bottom_bord{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.input_not_in_table label{
    color: black;
}
.prod_title input{
    width: 500px;
    height: 28px;
    border: 1px solid red;
}
.prod_input{
    height: 28px;
    border: 1px solid #a3c6d8;
}
textarea {
    outline: none;
    border: 1px solid #a3c6d8;
}
.input{
    text-align: left;
    width: 55%;
}
.align_left{
    padding-right: 32.7%;
}
.align_left_wild{
    padding-right: 30%;
}
.horiz_align_center{
    text-align: center;
}
.horiz_align_right{
    text-align: right;
}
.vert_align_top{
     vertical-align: top;
 }
.vert_align_center{
    vertical-align: middle;
}
.block{
    width: 86px;
    height: 86px;
    display: inline-block;
}
.block_for_inp{
    text-align: center;
    line-height: 76px;
    overflow: hidden;
    border: 1px solid #a3c6d8;
    box-sizing: border-box;
}
.inside_file{
    color: #a3c6d8;
    font-size: 46px;
    font-weight: bold;
}
.input_file {
    margin-top: -75px;
    margin-left:-410px;
    opacity: 0;
    font-size: 150px;
    height: 100px;
}
#prod_submit{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 376px;
    height: 35px;
    line-height: 35px;
}
.full_width{
    width: 100%;
}